<div class="grid">
    <div class="buscaralojamiento">
        <div class="itembuscaralojamiento">Destino
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">   
        </div>
        <div class="itembuscaralojamiento">Fecha de Ingreso
            <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="itembuscaralojamiento">Salida
            <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="itembuscaralojamiento">Aún no decido
            <input class="form-check-input" align-text="center" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="itembuscaralojamiento">Habitaciones
            <input type="number" class="form-control" min="1" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="itembuscaralojamiento">
            <button type="button" class="btn btn-success">Buscar</button>
        </div>
    </div>
    <div>
        <div class="col-sm-6 col-md-4">
            <div class="alojamientodescrion">
                <h3>Habitación Doble</h3>
              <img src="./assets/img/alojamiento01.jpg" alt="...">
              <div class="caption">
                
                <p>Desde 300.00 soles</p>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <br>
                  <a href="#" class="btn btn-primary" role="button">Ver deatlles</a>
               </div>
            </div>
          </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-md-4">
            <div class="alojamientodescrion">
            <h3>Habitación Matrimonial</h3>
              <img src="./assets/img/alojamiento02.jpg" alt="...">
              <div class="caption">
   
                <p>Desde 160 soles</p>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <br>
                  <a href="#" class="btn btn-primary" role="button">Ver deatlles</a>
    
              </div>
            </div>
          </div>
    </div>
</div>