<div class="container">
 <div>
   <h2>Gestion de Reserva</h2>
   Cliente <input type="text" id="dni" >
 DNI <input type="text" id="DNI" >
Numerp de Pasajeros <input type="number" id="abono">
Asiento<input type="text" id="asiento" >
 </div>
 Tipo Reserva
 <select class="form-select" size="1" width="50px ">
     <option value="1">Economico</option>
     <option value="2">Vip</option>
   </select>
 <div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Salida</th>
        <th scope="col">LLegada</th>
        <th scope="col">Pasajeros</th>
       </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <i class="fab fa-avianex"></i>Cusco
          Fecha Hora
        </th>
        <td>
          <i class="fab fa-avianex"></i>Cusco
          Fecha Hora
        </td>
        <td>1</td>
      </tr>
      </tbody>
  </table>
</div>
</div>
