<header>
    <div class="px-3 py-2 text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" routerLink="viaja"><samp>viaja.pe</samp>
                <img src="./assets/img/logo.png" alt="" width="50" height="50">
              </a>
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>
  
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a routerLink="about" class="nav-link text-white btn-outline-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#Vuelos"/></svg>
                Vuelos
              </a>
            </li>
            <li>
              <a routerLink="paqueteturistico"class="nav-link text-white btn-outline-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Paquetes Turísticos
              </a>
            </li>
            <li>
              <a routerLink="alojamiento" class="nav-link text-white btn-outline-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                Alojamiento
              </a>
            </li>
            <li>
              <a routerLink="gestionreserva" class="nav-link text-white btn-outline-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                Gestionar Reserva
              </a>
            </li>
            <li>
              <a routerLink="login" class="nav-link text-white btn-outline-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                Iniciar sesion
              </a>
            </li>
          </ul>
          </div>
      </div>
    </div>
   </header>
    
  
