<div class="container">
    <div class="gridpagoenlinea">
        <form>
            <div class="row">
              <div class="col">
                Nombre del duenio de la tarjeta<input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="col">
                Numero de tarjeta<input type="text" class="form-control" placeholder="Last name">
              </div>
            </div>
           </form>
    <div class="row">
        <div class="col-sm">
            Fecha expiracion<input type="text" class="form-control" placeholder="Mes">
        </div>
        <div class="col-sm">
          <br>  <input type="text" class="form-control" placeholder="Anio">
        </div>
        <div class="col-sm">
            CVV<input type="text" class="form-control">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-primary" type="button">Pagar</button>
        </div>
        
    </div>
    </div>
    <div class="gridpagoenlinea">
        <div class="detallespagoenlinea">
        <h4>Detalles</h4>
        <p>asiento  ------</p>
        <p>precio ------</p>
       <p>cantidad ------</p> 
        <p>Origen ------</p>
        <p>Destino------</p>
        <p>Fecha ------</p>
        <h3>Total $------</h3>
    </div>
    </div>
</div>
