<div class="ng-container">

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="./assets/img/peru.jpg" class="d-block w-100" >
        <div class="carousel-caption d-none d-md-block">
          <h3>No esperes más para descubrir tu lugar favorito</h3>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="./assets/img/roma.jpeg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h3>No esperes más para descubrir tu lugar favorito</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/img/brasil.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h3>No esperes más para descubrir tu lugar favorito</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Conoce los mejores lugares del mundo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 promociones-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"></div>
                    </div><img class="img-fluid" src="./assets/img/amsterdan.jpg"></a>
                <div class="agencia-caption">
                    <h4>Paquete Turítico a Ámsterdam</h4>
                    <p class="text-center"><strong><em>Desde S/.5000</em><br></strong></p>
                    <p class="text-center">Mas información <i class="fas fa-angle-right fa-2x"></i></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 promociones-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"></div>
                    </div><img class="img-fluid" src="./assets/img/lisboa.jpg"></a>
                <div class="agencia-caption">
                    <h4>Paquete Turítico a Lisboa</h4>
                    <p class="text-center"><strong><em>Desde S/.6000</em><br></strong></p>
                    <p class="text-center">Mas información <i class="fas fa-angle-right fa-2x"></i></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 promociones-item">
                <a href="#agenciaModal3" class="agencia-link" data-toggle="modal">
                    <div class="agencia-hover">
                        <div class="agencia-hover-content"></div>
                    </div><img class="img-fluid" src="./assets/img/paris.jpg"></a>
                <div class="agencia-caption">
                    <h4>Paquete Turítico a París</h4>
                    <p class="text-center"><strong><em>Desde S/.4490</em><br></strong></p>
                    <p class="text-center">Mas información <i class="fas fa-angle-right fa-2x"></i></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 promociones-item">
                <a href="#agenciaModal4" class="agencia-link" data-toggle="modal">
                    <div class="agencia-hover">
                        <div class="agencia-hover-content"></div>
                    </div><img class="img-fluid" src="./assets/img/berlin.jpg"></a>
                <div class="agencia-caption">
                    <h4>Paquete Turítico a Berlín</h4>
                    <p class="text-center"><strong><em>Desde S/.50100</em><br></strong></p>
                    <p class="text-center">Mas información <i class="fas fa-angle-right fa-2x"></i></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 promociones-item">
                <a href="#agenciaModal5" class="agencia-link" data-toggle="modal">
                    <div class="agencia-hover">
                        <div class="agencia-hover-content"></div>
                    </div><img class="img-fluid img-fluid" src="./assets/img/viena.jpg"></a>
                <div class="agencia-caption">
                    <h4>Paquete Turítico a Viena</h4>
                    <p class="text-center"><strong><em>Desde S/.8000</em><br></strong></p>
                    <p class="text-center">Mas información <i class="fas fa-angle-right fa-2x"></i></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 promociones-item">
                <a href="#agenciaModal6" class="agencia-link" data-toggle="modal">
                    <div class="agencia-hover">
                        <div class="agencia-hover-content"></div>
                    </div><img class="img-fluid" src="./assets/img/londres.jpg"></a>
                <div class="agencia-caption">
                    <h4>Paquete Turítico a Londres</h4>
                    <p class="text-center"><strong><em>Desde S/.9000</em><br></strong></p>
                    <p class="text-center">Mas información <i class="fas fa-angle-right fa-2x"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>