<div class="Gridpaquetes">
    <div class="listarpaquetes">
        <div class="itembuscaralojamiento">

            <input class="form-check-input" type="checkbox" value="" id="CheckDevuelo">
            <label class="form-check-label" for="CheckDevuelo">
                Vuelo
              </label>
            <input class="form-check-input" type="checkbox" value="" id="chechalojamiento">
            <label class="form-check-label" for="chechalojamiento">
               Alojamiento
              </label>
         <input class="form-check-input" type="checkbox" value="" id="checkauto">
         <label class="form-check-label" for="checkauto">
            Auto
          </label>
        </div>
        <div class="itemlistarpaquetes">Origen
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="itemlistarpaquetes">Destino
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="itemlistarpaquetes">Fecha de Ingreso
            <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="itemlistarpaquetes">Fecha de Salida
            <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="itemlistarpaquetes">Aún no decido
            <input class="form-check-input" align-text="center" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="itemlistarpaquetes">
            <button type="button" class="btn btn-primary btn-lg btn-block">Buscar</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-md-4">
            <div class="alojamientodescrion">
            <h3>Paquete Turistico a Rio de Janeiro</h3>
              <img src="./assets/img/paqueteturistico01.jpg" alt="...">
              <div class="caption">
   
                <p>Desde 5000 soles</p>
         
                  <a href="#" class="btn btn-primary" role="button">Ver deatlles</a>
    
              </div>
            </div>
          </div>
    </div>
         <div class="form-group">
            <div class="col-sm-6 col-md-4">
                <div class="alojamientodescrion">
                <h3>Paquete Turistico a Cusco</h3>
                  <img src="./assets/img/paqueteturistico02.jpg" alt="...">
                  <div class="caption">
       
                    <p>Desde 1000 soles</p>
                   
                      <a href="#" class="btn btn-primary" role="button">Ver deatlles</a>
        
                  </div>
                </div>
              </div>
        </div>
</div>
